:root{
    --clr-bg:#de8a89;
    --clr-bg-light:#ecb9b8;

    --clr-gry:#3e3c3d;
    --clr-grey-dark:#201e1f;

    --clr-white:#fff;
    --clr-black:#000;

    --fs-default:1.6rem;
    --ff-default: 'Roboto', sans-serif;
}


/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--ff-default);
    font-weight: 400;
    font-size: var(--fs-default);
    color: var(--clr-white);
}

.wrapper{
    background-color: var(--clr-bg);
    height: 100vh;
    overflow: hidden;
    padding-top: 4rem;
}

.layout{
    width: min(100% - 7rem, 80%);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header{
    padding-left: 11%;
}

.header__text{
    max-width: 70ch;
    padding-left: 1%;
    font-size: 1.5rem;
    line-height: 1.2;
}


.navigation{
    display: flex;
    gap: 4rem;
}
.navigation__item{
    list-style: none;
}
.navigation__item--link{
    text-decoration: none;
    font-size: 4.1rem;
    text-transform: uppercase;
    color: var(--clr-white);
    font-weight: 700;
}

.wash-cycle{
    display: flex;
}

.wash-cycle__timer,
.wash-cycle__temperature,
.wash-cycle__load{
    width: 60%;
    padding: 10rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
.wash-cycle__timer{
    background-color: #3e3c3d;
    position: relative;
}


.button--start{
    position: absolute;
    bottom: -2rem;
    padding: .8rem 6rem;
    background-color: var(--clr-black);
    color: #fff;
    border-radius: .5rem;

    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.u-f-w-700 {font-weight: 700 !important;}
.u-fs-medium{font-size: 2rem !important;}

.heading--2{
    font-size: 1.6rem;
    color: var(--clr-bg);
}
.wash-cycle__temperature{
    background-color: #353334;
}
.wash-cycle__load{
    background-color: #201e1f;
}
.button,
.button:focus{
    cursor:pointer;
    align-self: flex-start;
    appearance: none;
    border: none;
    outline: none;
    opacity: .8;
    padding: 3rem 4rem;

    display: grid;
    place-items: center;

}